/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
 }
 
 *, *:before, *:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 :focus, :active {
   outline: none;
 }
 
 a:focus, a:active {
   outline: none;
 }
 
 nav, footer, header, aside {
   display: block;
 }
 
 html, body {
   height: 100%;
   width: 100%;
   font-family: 'Roboto';
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
 }
 
 input, button, textarea {
   font-family: inherit;
 }
 
 input::-ms-clear {
   display: none;
 }
 
 button {
   cursor: pointer;
 }
 
 button::-moz-focus-inner {
   padding: 0;
   border: 0;
 }
 
 a, a:visited {
   text-decoration: none;
 }
 
 a:hover {
   text-decoration: none;
 }
 
 ul li {
   list-style: none;
 }
 
 img {
   vertical-align: top;
 }
 
 h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: 400;
 }
 a{
   color: #fff;
 }
 /*-------------------------------------------------------------------------------------------------------*/
 html{
   scroll-behavior: smooth;
   font-size: 62.5%;
}
body{
   font-size: 1.6rem;    

}
._lock{
   overflow: hidden;
}


.header {
   background-color: #FFFFFF;
   position: fixed;
   width: 100%;
   border-bottom:0.1rem solid #3A3E41 ;
   z-index: 2;
}
.header__container {
   max-width: 120rem;
   padding:2.7rem 1.5rem ;
   margin: 0 auto;
   display:flex ;
   justify-content: space-between;
   align-items: center;
}
.header__logo {
   width: 17.8rem;
   height: 4.6rem;
   background-image: url(../img/header/logo.png);
   background-size: cover;
   
}
.header__info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 57.5rem;
}
.header__info-adress {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 1.6rem;
}
.adress__img {
   width: 2rem;
   height: 2rem;
   img{
      width: 100%;
   }
}
.adress-text {
   max-width: 17.5rem;
   font-weight: 300;
   font-size: 1.3rem;
   line-height: 150%;
   color: #535353;

}
.header__info-tel {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 1.6rem;
}
.tel__img {
   width: 2rem;
   height: 2rem;
   img{
      width: 100%;
   }
}
.tel__numbers {
   font-weight: 300;
   font-size: 1.3rem;
   line-height: 150%;
   color: #535353;
}
.header__info-menu {
   cursor: pointer;
   width: 3.2rem;
   height: 3.2rem;
   img{
      width: 100%;
   }
}
@media(max-width:992px){
   .header__logo {
      width: 13.3rem;
      height: 3.3rem;
 
   }
   .header__info {
      width: 50rem;
   }
}

@media(max-width:768px){
   .header__container {
      padding: 2rem 1.5rem;
   
   }
   .header__logo {
      width: 13.3rem;
      height: 3.3rem;
 
   }
   .header__info {
      max-width:35rem;
   }
   .header__info-adress {
      column-gap: 0.8rem;
   }
   .adress-text {
      max-width: 15.5rem;
      font-size: 1.1rem;
   
   }
   .adress__img {
      width: 1.5rem;
      height: 1.5rem;
   }
   .header__info-tel {
     column-gap: 0.8rem;

   }
   .tel__img {
      width: 1.5rem;
      height: 1.5rem;
    
   }
   .tel__numbers {
      font-size: 1.1rem;
   }
   .header__info-menu {
      width: 2.4rem;
      height: 2.4rem;
    
   }
}
@media(max-width:576px){
   .header__container {
      padding: 1.5rem 1.5rem;
   
   }
   .header__logo {
      width: 7.5rem;
      height: 1.9rem;
 
   }
   .header__info {
      max-width:15rem;
   }
   .header__info-adress {
      display: none;
   }
  
}


.header__menu-back {
   position: absolute;
   z-index: -23;
   width: 100%;
   height: 100%;
   background: rgba(27, 27, 27, 0.8);
   overflow:hidden ;
   opacity: 0;
   transition: all 0.4s ease 0s;

}
.header__menu-back-active {
   overflow:visible ;
   opacity: 1;
   z-index: 3;

}
.header__menu {
   position: relative;
   background-color: #F69333;
   position: fixed;
   z-index: 10;
   opacity: 0;
   transform: translateX(150%);
   right: 0;
   top: 0;
   height: 100%;
   width: 37.6rem;
   padding: 10rem 0rem 0rem 4rem;
   overflow:hidden ;
   transition: all 0.4s ease 0s;
}
.header__menu-active {
   overflow:visible ;
   opacity: 1;
   transform: translateX(0%);
   
}

.header__nav {
   margin-bottom: 17.6rem;

   ul{
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      li{
         font-weight: 300;
         font-size: 1.6rem;
         line-height: 150%;
         display: inline-block;
         transition: all 0.3s ease 0s;
       
         a{
            position: relative;
            &::after{
               content: "";
               width: 0%;
               height: 0.1rem;
               border-bottom: 0.1rem solid #535353;
               transition: all 0.3s ease 0s;
               position: absolute;
               left: 0;
               bottom: 0;
           
            }
            &:hover{
               color: #535353;
               &::after{
                  width: 100%;
              }
            }
            
         }
      }
   }
}
.header__menu-close{
   cursor: pointer;
   position:absolute ;
   top: 3.4rem;
   left: 24.6rem;
   width: 3.2rem;
   height: 3.2rem;
   img{
      width: 100%;
   }

}
.header__menu-links {
   display:flex ;
   flex-direction: column;
   row-gap: 4rem;

}
.menu__link-card {
   display: flex;
   justify-content: space-between ;
   align-items: center;
   transition: all 0.3s ease 0s;
   max-width: 16.1rem;
  
}
.link__card-img {
   width: 2rem;
   height: 2rem;
   img{
      width: 100%;
   }
}
.link__card-text {
   font-weight: 300;
   font-size: 1.3rem;
   line-height: 150%;
   span{
      border-bottom: 0.1rem dashed #FFFFFF;
   }  
   transition: all 0.3s ease 0s;
   &:hover{
      color: #535353;
      span{
         border-bottom: 0.1rem dashed #535353;
      }
   }
                 
}
.menu__link-rule {
   display: flex;
   justify-content: space-between ;
   align-items: center;
   max-width: 16.1rem;
   transition: all 0.3s ease 0s;
 
}
.link__rule-img {
   width: 2rem;
   height: 3.067rem;
   img{
      width: 100%;
   }
}
.link__rule-text {
   font-weight: 300;
   font-size: 1.3rem;
   line-height: 150%;
   transition: all 0.3s ease 0s;
   span{
      border-bottom: 0.1rem dashed #FFFFFF;
   }  
   transition: all 0.3s ease 0s;
   &:hover{
      color: #535353;
      span{
         border-bottom: 0.1rem dashed #535353;
      }
   }
   
}


@media(max-width:992px){

   .header__menu {
      width: 30.6rem;
      padding: 7rem 0rem 0rem 3rem;

   }
 
   .header__nav {
      margin-bottom: 5rem;
   
      ul{
  
         row-gap: 1.6rem;
         li{

            font-size: 1.4rem;
         }
      }
   }
   .header__menu-close{

      top: 2.4rem;
      left: 24.6rem;
      width: 3.2rem;
      height: 3.2rem;
   
   }
   .header__menu-links {
      row-gap: 2rem;
   
   }
   .menu__link-card {
      max-width: 16.1rem;
     
   }
   .link__card-img {
      width: 2rem;
      height: 2rem;
   }
   .link__card-text {
      font-size: 1.3rem;
               
   }
   .menu__link-rule {
      max-width: 16.1rem;
    
   }
   .link__rule-img {
      width: 2rem;
      height: 3.067rem;
   }
   .link__rule-text {
 
      font-size: 1.3rem;
   
   }
}


@media(max-width:576px){

   .header__menu {
      width: 24.6rem;
      padding: 4rem 0rem 0rem 2rem;

   }
 
   .header__nav {
      margin-bottom: 2rem;
   
      ul{
         row-gap: 1.4rem;
         li{

            font-size: 1.4rem;
         }
      }
   }
   .header__menu-close{

      top: 1.4rem;
      left: 20.6rem;
      width: 2rem;
      height: 2rem;
   
   }
   .header__menu-links {
      row-gap: 1rem;
   
   }
   .menu__link-card {
      max-width: 13.1rem;
     
   }
   .link__card-img {
      width: 1.6rem;
      height: 1.6rem;
   }
   .link__card-text {
      font-size: 1.1rem;
               
   }
   .menu__link-rule {
      max-width: 13.1rem;
    
   }
   .link__rule-img {
      width: 1.7rem;
      height: 2.5rem;
   }
   .link__rule-text {
 
      font-size: 1.1rem;
   
   }
 
}
/*-------------------------------------------------------------------------------*/
main{
   padding-top: 10rem;
}

.section__top {
   background-image: url(../img/section__top/bck.jpg);
   background-size: cover;
   color: #fff;
}
.section__top-container {
   max-width: 120rem;
   padding:6.2rem 1.5rem 4.6rem 1.5rem ;
   margin: 0 auto;
   display: flex;
   column-gap: 1.3rem;

}
.section__top-left {
   display: flex;
   flex-direction: column;
}
.top__left-title {
   font-weight: 100;
   font-size: 3.2rem;
   line-height: 150%;
   text-transform: uppercase;
   margin-bottom: 4rem;
}
.top__left-subtitle {
   max-width: 34.3rem;
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 150%;
   margin-bottom: 5.3rem;
}
.top__left-img {
   max-width: 40.3rem;
   height: 29.5rem;
}
.left-img {
   width: 100%;
}
.right-img{

}
.section__top-right {
   display: flex;
   flex-direction: column;
   width: 75.4rem;

}
.top__right-blockimg {

   position: relative;
}
.top__right-lang {
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 2rem;
}
.right__lang-item {
   cursor: pointer;
   font-weight: 600;
   font-size: 1.3rem;
   line-height: 122%;
   color: #919191;
   transition: all 0.3s ease 0s;
   &:hover{
      color: #ffffff;
   }
}
.right__lang-line {
   width: 0.1rem;
   height: 3rem;                                       
   background-color: #919191;
}
.top__right-row {
   display: flex;
   margin-top: 3rem;
   justify-content: space-between;
   align-items: flex-end;
   padding-left: 8rem;
}
.right__row-button {
   cursor: pointer;
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 150%;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   padding: 1.3rem 2.35rem;
   background-color: #F69333;
   border-radius: 0.3rem;
   transition: all 0.3s ease 0s;
   &:hover{
      background-color: #c97a2b;
      box-shadow: 0 0 0.7rem #F69333;
      color: #000000;
   }

}
.right__row-character {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 37.7rem;

}
.row__character-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 0.8rem;
}
.tree__img {
   width: 3rem;
   height: 3rem;
   img{
      width: 100%;
   }
}
.row__character-text {
   font-weight: 300;
   font-size: 1.3rem;
   line-height: 150%;

}
.house__img {
   width: 3rem;
   height: 3rem;
   img{
      width: 100%;
   }
}
.pool__img {
   width: 3rem;
   height: 3rem;
   img{
      width: 100%;
   }
}

@media(max-width:992px){
   main{
      padding-top: 9.3rem;
   }
   
 
   .section__top-container {

      padding:5.2rem 1.5rem 3.6rem 1.5rem ;
   
   }

   .top__left-title {
      font-size: 2.8rem;
      margin-bottom: 2rem;
   }
   .top__left-subtitle {
      max-width: 34.3rem;
      font-size: 1.3rem;
      margin-bottom: 3.3rem;
   }
   .top__left-img {
      max-width: 40.3rem;
      height: 29.5rem;
   }
   .left-img {
      width: 100%;
   }
   .section__top-right {
      display: flex;
      flex-direction: column;
      width: 45.4rem;
   
   }

   .right-img {
      width: 45.4rem;
   }
   .top__right-lang {
      row-gap: 1.7rem;
   }
   .right__lang-item {
      font-size: 1.3rem;
   }
   .right__lang-line {

      height: 2.5rem;                                       

   }
   .top__right-row {
      margin-top: 2rem;
      padding-left: 0rem;
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 2rem;
   }
   .right__row-button {
      font-size: 1.3rem;
      padding: 1.3rem 2.0rem;
 
   }
   .right__row-character {
      margin: 0 auto;
      width: 80%;
   
   }
   .row__character-item {
      row-gap: 0.8rem;
   }
   .tree__img {
      width: 3rem;
      height: 3rem;
    
   }
   .row__character-text {

      font-size: 1.2rem;
 
   
   }
   .house__img {
      width: 3rem;
      height: 3rem;
  
   }
   .pool__img {
      width: 3rem;
      height: 3rem;
 
   }
}

@media(max-width:768px){
   main{
      padding-top: 7.3rem;
   }

   .section__top-container {

      padding:3.2rem 1.5rem 3.6rem 1.5rem ;
      flex-direction: column;

   
   }

   .top__left-title {
      font-size: 2.4rem;
      margin-bottom: 1rem;
   }
   .top__left-subtitle {
      max-width: 100%;
      font-size: 1.3rem;
      margin-bottom: 3.3rem;
   }
   .top__left-img {
         display: none;
   }
   .left-img {
      display: none;
   }
   .section__top-right {
      width: 45.4rem;
   
   }

   .right-img {
      width: 45.4rem;
   }
   .top__right-lang {
      row-gap: 1.4rem;
   }
   .right__lang-item {
      font-size: 1.3rem;
   }
   .right__lang-line {

      height: 2rem;                                       

   }
   .top__right-row {
      margin-top: 2rem;
      row-gap: 2rem;
   }
   .right__row-button {
      font-size: 1.3rem;
      padding: 1.3rem 2.0rem;
 
   }



}

@media(max-width:576px){
   main{
      padding-top: 4.2rem;
   }

   .top__left-title {
      font-size: 2rem;
      margin-bottom: 2rem;

   }
   .top__left-subtitle {

      font-size: 1.2rem;
      margin-bottom: 3.3rem;
   }

   .section__top-right {
      width: 100%;
   }

   .right-img {
      width: 100%;
      padding: 1rem;
   }
   .top__right-lang {
      row-gap: 1rem;
   }
   .right__lang-item {
      font-size: 1.1rem;
   }
   .right__lang-line {

      height: 1.5rem;                                       

   }
   .top__right-row {
      margin-top: 1rem;
      row-gap: 3rem;
   }
   .right__row-button {
      font-size: 1.1rem;
      padding: 1rem 1.5rem;
 
   }



}


/*--------------------------popup-----------------------------------------*/

.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   background: rgba(27, 27, 27, 0.8);
   top: 0;
   left: 0;
   opacity: 0%;
   visibility: hidden;
   transition: 0.5s all ease 0s;
   z-index: 5;
 
 }
 ._open{
   opacity: 100%;
   visibility: visible;
 }
 .popup__body {
   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
  
 }
 .popup__content{
   background-color: #ffffff;
   width:60rem;
   position: relative;
   display: flex;
         
 }

 .popup__cancel {
   position: absolute;
   top: -3rem;
   right: -3rem;
   width: 3rem;
   height: 3rem;
   cursor: pointer;
   img{
     width: 100%;
   }
 }

 .popup__left {
   display: flex;
   flex-direction: column;
   padding: 4.7rem 2rem 6.7rem 2rem ;
   align-items: center;
   width: 31.8rem;
}
.popup__left-logo {
   width: 17.8rem;
   height: 4.6rem;
   margin-bottom: 3rem;
   img{
      width: 100%;
   }
}
.popup__title {
   font-weight: 100;
   font-size: 3.2rem;
   line-height: 150%;
   text-transform: uppercase;
   color: #000000;
   margin-bottom: 3rem;
   text-align: center;

}
.popup__subtitle {
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 150%;
   color: #535353;
   margin-bottom: 7.6rem;
   text-align: center;
}
.popup__input {
   border: none;
   border-bottom: 0.1rem solid #919191;
   font-family: 'Montserrat';
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 120%;
   color: #919191;
   padding-bottom: 0.8rem;
   margin-bottom: 4.8rem;
   width: 100%;
   &::placeholder{
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 120%;
      color: #919191;

   }
}
.popup__button {
   cursor: pointer;
   font-size: 1.3rem;
   line-height: 150%;
   letter-spacing: 0.04em;
   color: #FFFFFF;
   text-transform: uppercase;
   padding: 1.3rem 6rem;
   background-color: #F69333;
   border-radius: 0.3rem;
   transition: all 0.3s ease 0s;
   &:hover{
      background-color: #c97a2b;
      box-shadow: 0 0 0.7rem #F69333;
      color: #000000;
   }
}
.popup__right {
   width: 28.2rem;
   img{
      width: 100%;
   }
}

@media(max-width:992px){
   .popup__content{
      width: 53.2rem;

   }
   .popup__left {
      display: flex;
      flex-direction: column;
      padding: 4.7rem 2rem 5.7rem 2rem ;
      align-items: center;
      width: 28rem;

   }
   .popup__left-logo {
      width: 13.3rem;
      height: 3.3rem;
      margin-bottom: 2rem;
     
   }
   .popup__title {
      font-size: 2.8rem;
      margin-bottom: 2rem;
 
   
   }
   .popup__subtitle {
      font-size: 1.3rem;
      margin-bottom: 5.6rem;

   }
   .popup__input {
      font-size: 1.4rem;
      padding-bottom: 0.8rem;
      margin-bottom: 3.8rem;
      width: 100%;
      &::placeholder{
         font-size: 1.4rem;

      }
   }
   .popup__right {
      width: 25.2rem;
    
   }
}

@media(max-width:576px){
   .popup__content{
      width: 25.2rem;
      background-image: url(../img/popup/img.jpg);
      background-size: cover;

   }
   .popup__left {
      padding: 2.7rem 1.5rem 3.7rem 1.5rem ;
      align-items: center;
      width: 25.2rem;
      background: rgba(27, 27, 27, 0.8);
   }
   .popup__left-logo {
      display: none;
     
   }
   .popup__title {
      color: #fff;
      font-size: 2.2rem;
      margin-bottom: 1.5rem
   }
   .popup__subtitle {
       color: #fff;
      font-size: 1.1rem;
      margin-bottom: 3.6rem;

   }
   .popup__input {
      background-color: #00000000;
      font-size: 1.2rem;
      padding-bottom: 0.5rem;
      margin-bottom: 2rem;
      color: #fff;
      border-bottom: 0.1rem solid #ffffff;
      &::placeholder{
         font-size: 1.2rem;
         color: #fff;

      }
   }
   .popup__right {
      display:none;
    
   }
   .popup__cancel {
      top: -2rem;
      right: -2rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
     
    }
    .popup__button {
      font-size: 1.1rem;
      padding: 0.9rem 4rem;

  
   }
}

/*-----------------------------------------*/

.section__solution-container {
   max-width: 120rem;
   padding:15rem 1.5rem;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 2rem;

}
.section__solution-left {
   flex:1 1 50%;
   max-width: 53.7rem;

 img{
   width: 100%;
 }
}
.section__solution-right {
   flex:1 1 50%;
   max-width: 57.5rem;
}
.solution__right-title {
   font-weight: 100;
   font-size: 3.2rem;
   line-height: 150%;
   text-transform: uppercase;
   color: #222222;
   margin-bottom: 0.6rem;
}
.solution__right-subtitle {
   font-weight: 300;
   font-size: 1.6rem;
   line-height: 150%;
   color: #F69333;
   text-align: right;
   margin-bottom: 8rem;
}
.solution__right-text {
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 150%;
   color: #535353;

}

@media(max-width:992px){
   .section__solution-container {

      padding:10rem 1.5rem;
      column-gap: 2rem;
   
   }
   .section__solution-left {
      flex:1 1 50%;
      max-width: 53.7rem;
   
  
   }
   .section__solution-right {
      flex:1 1 50%;
      max-width: 57.5rem;
   }
   .solution__right-title {
      text-align: right;
      font-weight: 100;
      font-size: 2.8rem;
      margin-bottom: 0.6rem;
   }
   .solution__right-subtitle {
      font-size: 1.4rem;
      margin-bottom: 6rem;
   }
   .solution__right-text {

      font-size: 1.3rem;

   
   }
}
@media(max-width:768px){
   .section__solution-container {

      padding:7rem 1.5rem;
      column-gap: 1.5rem;
   
   }
   .section__solution-left {
      flex:1 1 50%;
      max-width: 47rem;
   }
   .section__solution-right {
      flex:1 1 50%;
      max-width: 57.5rem;
   }
   .solution__right-title {
      font-weight: 100;
      font-size: 2.4rem;
      margin-bottom: 0.6rem;
   }
   .solution__right-subtitle {
      font-size: 1.4rem;
      margin-bottom: 2rem;
   }
   .solution__right-text {

      font-size: 1.2rem;

   
   }
}
@media(max-width:576px){
   .section__solution-container {
      flex-direction: column-reverse;
      padding:3rem 1.5rem;
      column-gap: 1.5rem;
      row-gap: 2rem;
   
   }
   .section__solution-left {
      flex:1 1 100%;
      max-width: 100%;
   }
   .section__solution-right {
      flex:1 1 100%;
      max-width: 100%;
   }
   .solution__right-title {
      font-size: 2.2rem;
      margin-bottom: 0.6rem;
   }
   .solution__right-subtitle {
      font-size: 1.4rem;
      margin-bottom: 2rem;
   }
   .solution__right-text {

      font-size: 1.2rem;

   
   }
}
/*------------------------------------------------------------------------*/
.section__relax {
   background-color: #3A3E41;
}
.section__relax-container {
   padding: 14rem 1.5rem 6.4rem 1.5rem;
   max-width: 120rem;
   margin: 0 auto;
   position: relative;
}
.section__relax-left {
   padding-right: 69.4rem;
}
.section__relax-title {
   font-weight: 100;
   font-size: 3.2rem;
   line-height: 150%;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 6rem;
}

.section__relax-text {
   font-weight: 400;
   font-size: 13px;
   line-height: 150%;
   color: #FFFFFF;
   margin-bottom: 6rem;

}

.link__card-text-gray {
   color:#919191;
   span{
      border-bottom: 0.1rem dashed #919191;
   }  
   transition: all 0.3s ease 0s;
   &:hover{
      color: #fff;
      span{
         border-bottom: 0.1rem dashed #fff;
      }
   }
}
.section__relax-slide {
   position: absolute;
   max-width: 67.4rem;
   top: 14rem;
   right: 1.5rem;
   display: flex;
   flex-direction: column;
   max-height: 81rem;
}
.section__relax-slide-mobile{
   position: relative;
   display: none;
}
.relax__slide-img {
    max-width: 67.4rem;
    img{
      width: 100%;
      max-height: 81rem;
    }
}
.relax__slide-row {
   display: flex;
}
.slide__row-num {
   background-color: #F69333;
   display: flex;
   flex-direction: column;
   padding: 0.5rem;
   row-gap: 0.2rem;
}
.slide__row-num-start {
   align-self: self-start;
   font-weight: 600;
   font-size: 1.2rem;
   line-height: 150%;
   color: #FFFFFF;

}
.slide__row-num-line {
   width: 4rem;
   height: 0.1rem;
   background-color: #FFFFFF;
}
.slide__row-num-end {
   align-self: self-end;
   font-weight: 300;
   font-size: 1.2rem;
   line-height: 150%;
   color: #FFFFFF;
}
.slide__row-nav {
   display: flex;
   column-gap: 2rem;
   padding:1.65rem 0rem 1.65rem 4.8rem;
   background-color: #535353;
   width: 100%;
   
}
.slide__row-nav-left {
   cursor: pointer;
   width: 7.9rem;
   height: 1.7rem;
   img{
      width: 100%;
   }
}
.slide__row-nav-right {
   cursor: pointer;
   width: 7.9rem;
   height: 1.7rem;
   img{
      width: 100%;
   }
}
.section__relax-button{
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 150%;
   bottom: -17rem;
   left: 1.5rem;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   color: #222222;
   position: absolute;
   padding: 1.3rem 2.35rem;
   border-radius: 0.4rem;
   background-color: #FFFFFF;
   border: 0.1rem solid #F69333;
   transition: all 0.3s ease 0s;
   &:hover{
      background-color: #F69333;
      color: #fff;
   }


}

@media(max-width:992px){
   .section__relax-container {
      padding: 9rem 1.5rem 5.4rem 1.5rem;

   }
   .section__relax-left {
      padding-right: 54.9rem;
   }
   .section__relax-title {
      font-size: 2.8rem;
      margin-bottom: 4rem;
   }
   
   .section__relax-text {
      font-size: 1.2rem;
      margin-bottom: 4rem;
   }
 
   .section__relax-slide {
      position: absolute;
      max-width: 51.4rem;
      top: 9rem;
   }
   .section__relax-button{
      font-size: 1.3rem;
      bottom: -7.4rem;
      left: 1.5rem;
      padding: 1.3rem 2.35rem;
    
   
   
   }
}



@media(max-width:768px){
   .section__relax-container {
      padding: 7rem 1.5rem 4.4rem 1.5rem;

   }
   .section__relax-left {
      padding-right: 36.9rem;
   }
   .section__relax-title {
      font-size: 2.4rem;
      margin-bottom: 3rem;
   }
   
   .section__relax-text {
      font-size: 1.1rem;
      margin-bottom: 3rem;
   }
 
   .section__relax-slide {
      position: absolute;
      max-width: 35.4rem;
      top: 7rem;
   }
   .slide__row-num {
      padding: 0.3rem;
      row-gap: 0.2rem;
   }
   .slide__row-num-start {
      font-size: 0.8rem;
   
   }
   .slide__row-num-line {
      width: 3rem;

   }
   .slide__row-num-end {
      font-size: 0.8rem;

   }
   .slide__row-nav {

      column-gap: 1rem;
      padding:1rem 0rem 1rem 2.8rem;

      
   }
   .slide__row-nav-left {
      width: 5.8rem;
      height: 1.25rem;
  
   }
   .slide__row-nav-right {
      width: 5.8rem;
      height: 1.25rem;
   }

}

@media(max-width:576px){
   .section__relax-slide-mobile{
      position: relative;
      display: block;
      margin-top: 2rem;
   }
   .section__relax-container {
      padding: 3rem 1.5rem 2.4rem 1.5rem;


   }
   .section__relax-left {
      padding-right: 0rem;
   }
   .section__relax-title {
      font-size: 2.2rem;
      margin-bottom: 2rem;
   }
   
   .section__relax-text {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    
   }
 
   .section__relax-slide {
      display: none;
   }
   
   .slide__row-num {
      padding: 0.3rem;
      row-gap: 0.2rem;
   }
   .slide__row-num-start {
      font-size: 0.8rem;
   
   }
   .slide__row-num-line {
      width: 3rem;

   }
   .slide__row-num-end {
      font-size: 0.8rem;

   }
   .slide__row-nav {
      justify-content: center;
      column-gap: 1rem;
      padding:1rem 0rem 1rem 2.8rem;

      
   }
   .slide__row-nav-left {
      width: 5.8rem;
      height: 1.25rem;
  
   }
   .slide__row-nav-right {
      width: 5.8rem;
      height: 1.25rem;
   }
   .section__relax-button{
      font-size: 1.1rem;
      bottom: -6.4rem;
      left: 1.5rem;
      padding: 0.9rem 2rem;
    
   
   
   }




}
/*----------------------------------------------------------*/

.section__dignity-container {
   padding: 25rem 1.5rem 15rem 1.5rem ;
   max-width: 104.2rem;
   margin: 0 auto;
}
.section__dignity-top {
   margin: 0 auto;
   max-width: 58.6rem;
    margin-bottom: 4rem;

}
.section__dignity-title {
   font-weight: 100;
   font-size: 3.2rem;
   line-height: 150%;
   text-transform: uppercase;
   color: #222222;
   margin-bottom: 0.6rem;
}
.section__dignity-subtitle {
   font-weight: 300;
   font-size: 1.6rem;
   line-height: 150%;
   color: #F69333;
   text-align:right;
  
}
.section__dignity-text {
   margin: 0 auto;
   max-width: 68.7rem;
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 150%;
   text-align: center;
   color: #535353;
   margin-bottom: 9rem;
}
.section__dignity-items {
   display:flex ;
   flex-wrap: wrap;
   row-gap: 8rem;

}
.dignity-item {
   display: flex;
   flex-direction: column;
   flex: 1 1 20%;
   align-items: center;
   max-width: 16,4rem;
   row-gap: 2.4rem;
}
.dignity__item-img {
   width: 6rem;
   height: 6rem;
   img{
      width: 100%;
   }
}
.dignity__item-text {
   font-weight: 300;
   font-size: 1.8rem;
   line-height: 150%;
   text-align: center;
   color: #222222;
}

@media(max-width:992px){
   
.section__dignity-container {
   padding: 15rem 1.5rem 10rem 1.5rem ;

}
.section__dignity-top {
   margin: 0 auto;
   max-width: 51.6rem;
   margin-bottom: 3rem;

}
.section__dignity-title {
   font-size: 2.8rem;

}
.section__dignity-subtitle {

   font-size: 1.4rem;
 
  
}
.section__dignity-text {
   max-width: 59.7rem;
   font-size: 1.2rem;
   margin-bottom: 5rem;
}
.section__dignity-items {
   row-gap: 6rem;

}
.dignity-item {
   flex: 0 1 20%;
   max-width: 14,4rem;
   row-gap: 2rem;
}
.dignity__item-img {
   width: 5rem;
   height: 5rem;
   img{
      width: 100%;
   }
}
.dignity__item-text {
   font-size: 1.6rem;
   line-height: 150%;

}
}

@media(max-width:768px){
   
   .section__dignity-container {
      padding: 12rem 1.5rem 7rem 1.5rem ;
   
   }
   .section__dignity-top {
      margin: 0 auto;
      max-width: 44.3rem;
      margin-bottom: 3rem;
   
   }
   .section__dignity-title {
      font-size: 2.4rem;
   
   }
   .section__dignity-subtitle {
      font-size: 1.4rem;
  
   }
   .section__dignity-text {
      max-width: 59.7rem;
      font-size: 1.2rem;
      margin-bottom: 4rem;
   }
   .section__dignity-items {
      row-gap: 2rem;
   }
   .dignity-item {
      flex: 0 1 20%;
      max-width: 12,4rem;
      row-gap: 1.5rem;
   }
   .dignity__item-img {
      width: 3.5rem;
      height: 3.5rem;
    
   }
   .dignity__item-text {
      font-size: 1.4rem;
   
   
   }
   }

   @media(max-width:576px){
   
      .section__dignity-container {
         padding: 10rem 1.5rem 5rem 1.5rem ;
      
      }
      .section__dignity-top {
         margin: 0 auto;
         max-width: 41rem;
         margin-bottom: 3rem;
      
      }
      .section__dignity-title {
         font-size: 2.2rem;
         margin-bottom: 0.3rem;
      
      }
      .section__dignity-subtitle {
         font-size: 1.2rem;
     
      }
      .section__dignity-text {
         max-width: 100%;
         font-size: 1.2rem;
         margin-bottom: 3rem;
      }
      .section__dignity-items {
         row-gap: 1.5rem;
         justify-content: center;
      }
      .dignity-item {
         flex: 0 1 25%;
         max-width: 11.4rem;
         row-gap: 1rem;
      }
      .dignity__item-img {
         width: 2.5rem;
         height: 2.5rem;
       
      }
      .dignity__item-text {
         font-size: 1.2rem;
      
      
      }
      }

      @media(max-width:400px){
   
        
         .dignity-item {
            flex: 0 1 33%;
            max-width: 10.4rem;
            row-gap: 1rem;
         }
         .dignity__item-img {
            width: 2.5rem;
            height: 2.5rem;
          
         }
         .dignity__item-text {
            font-size: 1.1rem;
         
         
         }
         }

/*--------------------------------------------------------*/
.section__gallery {
   background-color: #3A3E41;
}
.section__gallery-container {
   max-width: 125.3rem;
   padding: 8.8rem 1.5rem;
   margin: 0 auto;
   position: relative;



}
.section__gallery-items {
   padding: 2.6rem;
   display: flex;
   flex-wrap: wrap;
   column-gap: 2rem;
   row-gap: 2rem;

}
.section__gallery-item {
   position: relative;
   cursor: pointer;
   width: 57.5rem;
   height: 34.9rem;
   background-image: url(../img/sectoin__gallery/1.png);
   background-size: cover;
   flex: 1 1 48%;
   transition: all 0.3s ease 0s;
 
}
.item2 {
 
   background-image: url(../img/sectoin__gallery/2.png);

}
.item3 {
 
   background-image: url(../img/sectoin__gallery/3.png);

}
.item4 {
 
   background-image: url(../img/sectoin__gallery/4.png);

}

.gallery__item-shadow {

   width: 100%;
   height: 100%;
   background-color: #000000;
   opacity: 35%;
   transition: all 0.3s ease 0s;
   &:hover{
      opacity: 0%;
   }
}
.gallery__item-name {
   display: inline-flex;
   justify-content: center;
   position: absolute;
   top: 15.8rem;
   margin: 0 auto;
   left: 0;
   right:0;
   z-index: 3;
   font-weight: 400;
   font-size: 2.8rem;
   line-height: 150%;
   text-transform: uppercase;
   color: #FFFFFF;
   opacity: 100%;
}        
.section__gallery-frameup {
   position: absolute;
   width: 11.6rem;
   height: 18.2rem;
   top: 8.8rem;
   left: 1.5rem;
 
}
.section__gallery-framebottom {
   position: absolute;
   width: 11.6rem;
   height: 18.2rem;
   bottom: 8.8rem;
   right: 1.5rem;
 
}
.section__gallery-lineup {
   position: absolute;
   right: 4rem;
   top: 8.8rem;
   height: 0.2rem;
   img{
      width: 100%;
    }
}
.section__gallery-linebottom {
    position: absolute;
    bottom: 8.8rem;
    left: 4rem;
    height: 0.2rem;
    img{
      width: 100%;
    }
}

@media(max-width:992px){

   .section__gallery-container {
      padding: 6rem 1.5rem;
   }
   .section__gallery-items {
      column-gap: 2rem;
      row-gap: 2rem;
   
   }
   .section__gallery-item {
      width: 57.5rem;
      height: 28.9rem;
      flex: 1 1 48%;
   }

   .gallery__item-name {
      top: 12.8rem;
      font-size: 2.4rem;
  
   }    
   .section__gallery-frameup {
      position: absolute;
      width: 9rem;
      height: 15.6rem;
      top: 6rem;
      left: 1.5rem;
   }
   .section__gallery-framebottom {
      position: absolute;
      width: 9rem;
      height: 15.6rem;
      bottom: 8.8rem;
      right: 4rem;
   }
   .section__gallery-lineup {
      width: 44.4rem;
      position: absolute;
      right: 4rem;
      top: 6rem;
   }
   .section__gallery-linebottom {
       width: 44.4rem;
       position: absolute;
       bottom: 5.8rem;
       left: 4rem;
   }
       
}
@media(max-width:768px){

   .section__gallery-container {
      padding: 4rem 1.5rem;
   }
   .section__gallery-items {
      column-gap: 1rem;
      row-gap: 1rem;
   
   }
   .section__gallery-item {
      width: 57.5rem;
      height: 23.9rem;
      flex: 1 1 48%;
   }

   .gallery__item-name {
      top: 9.8rem;
      font-size: 2rem;
  
   }      
   .section__gallery-frameup {
      position: absolute;
      width: 7.6rem;
      height: 13.1rem;
      top: 4rem;
      left: 1.5rem;
   }
   .section__gallery-framebottom {
      width: 7.6rem;
      height: 13.1rem;
      bottom: 8.8rem;
      right: 5rem;
   }
   .section__gallery-lineup {
      width: 33.3rem;
      right: 4rem;
      top: 4rem;
   }
   .section__gallery-linebottom {
       width: 33.3rem;
       bottom: 4rem;
       left: 4rem;
   }  
}
@media(max-width:576px){

   .section__gallery-container {
      padding: 3rem 1.5rem;
   }
 
   .section__gallery-item {
      width: 57.5rem;
      height: 15.9rem;
      flex: 1 1 48%;
   }
   .section__gallery-items {
    padding: 1.5rem;
   }

   .gallery__item-name {
      top: 5.8rem;
      font-size: 1.8rem;
  
   }    
   .section__gallery-frameup {

      width: 5.5rem;
      height: 8.9rem;
      top: 3.1rem;
      left: 1.7rem;
      img{
         width: 100%;
      }
   }
   .section__gallery-framebottom {
      width: 5.5rem;
      height: 8.9rem;
      bottom: 3.1rem;
      right: 1.7rem;
      img{
         width: 100%;
      }
   }
   .section__gallery-lineup {
      width: 25.3rem;
      right: 3.1rem;
      top: 3.1rem;
   }
   .section__gallery-linebottom {
       width: 25.3rem;
       right: 3.1rem;
       bottom: 3.1rem;
   }      
}
@media(max-width:400px){

   .section__gallery-container {
      padding: 3rem 1.5rem;
   }
 
   .section__gallery-item {
      width: 57.5rem;
      height: 9.9rem;
      flex: 1 1 48%;
   }
   .section__gallery-items {
   
      padding:0rem;
   }
   .gallery__item-name {
      top: 3.8rem;
      font-size: 1.4rem;
  
   }    
   .section__gallery-framebottom {
      display: none;
   }
   .section__gallery-lineup {
      display: none;
   }
   .section__gallery-linebottom {
      display: none;
   }   
   .section__gallery-frameup {

      display: none;
   }
}

/*-------------------------------------------------*/

.section__card-container {
   max-width: 120rem;
   padding: 15rem 1.5rem 10rem 1.5rem;
   margin: 0 auto;

}
.section__card-minicontainer {
   display: flex;
   column-gap: 2rem;
   margin-bottom: 10rem;

}
.section__card-left {
   flex: 1 1 50%;
}
.section__card-left-title {
   font-weight: 100;
   font-size: 3.2rem;
   line-height: 150%;
   text-transform: uppercase;
   color: #222222;
   margin-bottom: 2rem;
}
.section__card-left-subtitle {
   font-weight: 300;
   font-size: 1.6rem;
   line-height: 150%;
   color: #F69333;
   margin-bottom: 8rem;
}
.section__card-left-tex {
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 150%;
   color: #535353;
}
.section__card-right {
   flex: 1 1 50%;
}
.section__card-right-card {
   display: inline-block;
   width: 57.5rem;
   max-width: 57.5rem;
   height: 45.9rem;
   background-image: url(../img/section__card/map.jpg);
   background-size: cover;
   margin-bottom: 2.4rem;
   
}
.section__card-row {
   display: flex;
   justify-content: space-between;
}

.section__card-button {
   cursor: pointer;
   margin: 0 auto;
   max-width: 57.6rem;
   display: flex;
   align-items: center;
   column-gap: 2rem;
   padding: 5rem 0rem;
   border-top: 0.1rem solid #A9A9A9;
   border-bottom: 0.1rem solid #A9A9A9;
   
}
.section__card-button-text {
   font-weight: 100;
   font-size: 2.4rem;
   line-height: 150%;
   text-transform: uppercase;
   color: #3A3E41;

}
.section__card-button-arrow {
   width: 11.4rem;
   height: 0.8rem;
   img{
      width: 100%;
   }
}
.header__info-adress-mobile{
   display: none;
}
@media(max-width:992px){
   .section__card-container {
      padding: 10rem 1.5rem 7rem 1.5rem;
   
   }
   .section__card-minicontainer {
      display: flex;
      column-gap: 2rem;
      margin-bottom: 7rem;
   }
   .section__card-left {
      flex: 1 1 50%;
   }
   .section__card-left-title {
      font-size: 2.8rem;
      margin-bottom: 2rem;
   }
   .section__card-left-subtitle {
      font-size: 1.4rem;
      margin-bottom: 4rem;
   }
   .section__card-left-tex {
      font-size: 1.2rem;
   }
   .section__card-right {
      flex: 1 1 50%;
   }
   .section__card-right-card {

      width: 45.6rem;
      height: 36rem;
      margin-bottom: 2rem;
      
   }

   
   .section__card-button {
      max-width: 49.6rem;
      column-gap: 2rem;
      padding: 4rem 0rem;

   }
   .section__card-button-text {
      font-size: 2rem;
   
   }
   .section__card-button-arrow {
      width: 11.4rem;
      height: 0.8rem;
   
   }
}
@media(max-width:768px){
   .section__card-container {
      padding: 7rem 1.5rem 5rem 1.5rem;
   
   }
   .section__card-minicontainer {
      display: flex;
      column-gap: 2rem;
      margin-bottom: 5rem;
   }
   .section__card-left {
      flex: 1 1 50%;
   }
   .section__card-left-title {
      font-size: 2.4rem;
      margin-bottom: 1rem;
   }
   .section__card-left-subtitle {
      font-size: 1.4rem;
      margin-bottom: 3rem;
   }
   .section__card-left-tex {
      font-size: 1.1rem;
   }
   .section__card-right {
      flex: 1 1 50%;
   }
   .section__card-right-card {

      width: 35.8rem;
      height: 28.0rem;
      margin-bottom: 2rem;
      
   }

   
   .section__card-button {
      max-width: 34.8rem;
      column-gap: 1rem;
      padding: 3rem 0rem;

   }
   .section__card-button-text {
      font-size: 1.4rem;
   
   }
   .section__card-button-arrow {
      width: 8.4rem;
      height: 0.7rem;
   
   }
}
@media(max-width:576px){
   .section__card-container {
      padding: 4rem 1.5rem 3rem 1.5rem;
   
   }
   .section__card-minicontainer {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      margin-bottom: 2rem;
   }
   .section__card-left {
      flex: 1 1 100%;
   }
   .section__card-left-title {
      font-size: 2.2rem;
      margin-bottom: 1rem;
   }
   .section__card-left-subtitle {
      font-size: 1.4rem;
      margin-bottom: 3rem;
   }
   .section__card-left-tex {
      font-size: 1.1rem;
   }
   .section__card-right {
      flex: 1 1 100%;
   }
   .section__card-right-card {

      width: 100%;
      height: 28.0rem;
      margin-bottom: 2rem;
      justify-self: center;
      
   }

   
   .section__card-button {
      max-width: 28rem;
      column-gap: 1rem;
      padding: 1.5rem 0rem;

   }
   .section__card-button-text {
      font-size: 1.0rem;
   
   }
   .section__card-button-arrow {
      width: 8.4rem;
      height: 0.7rem;
   
   }
   .header__info-adress-mobile{
      display: block;
      display: flex;
      column-gap: 1rem;
      align-items: center;
   }
}
/*------------------------------------------------------------*/
.footer {
   background-color: #2F2F2F;
}
.footer__container {
   max-width: 120rem;
   padding:4.7rem 1.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}
.footer__left-column {
   display: flex;
   flex-direction: column;
   row-gap: 1.5rem;
   max-width: 27.7rem;
}
.left__column-name {
   font-style: normal;
   font-weight: 300;
   font-size: 1.6rem;
   line-height: 150%;
   color: #FFFFFF;
   transition: all 0.3s ease 0s;
   &:hover{
      color: #919191;
     }
}
.left__column-adress {
    font-style: normal;
   font-weight: 300;
   font-size: 1.3rem;
   line-height: 150%;
   color: #FFFFFF;
      transition: all 0.3s ease 0s;
   &:hover{
      color: #919191;
     }
}
.left__column-tel {
   font-style: normal;
   font-weight: 300;
   font-size: 1.3rem;
   line-height: 150%;
   color: #FFFFFF;
   transition: all 0.3s ease 0s;
    &:hover{
       color: #919191;
      }
}
.footer__central-column {
   display: flex;
   justify-content: space-between;
   width: 29.6rem;
}
.central__column-column {
   display: flex;
   flex-direction: column;
   row-gap: 1.4rem;
   a{
      font-style: normal;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 150%;
      color: #FFFFFF;
      transition: all 0.3s ease 0s;
      &:hover{
       color: #919191;
      }
   }
}
.footer__right-column {
   align-self: flex-end;
   display: flex;
   flex-direction: column;
   row-gap: 0.7rem;
   


}
.right__column-card {
   text-align: right;
   color: #919191;
   span{
      border-bottom: 0.1rem dashed #919191;
      font-size: 1.6rem;
   }
   
   transition: all 0.3s ease 0s;
   &:hover{
      color: #fff;
      span{
         border-bottom: 0.1rem dashed #fff;
      }
      
      
   }
}
@media(max-width:992px){

   .footer__container {
      max-width: 120rem;
      padding:3.7rem 1.5rem;
   }
   .footer__left-column {
      row-gap: 1.3rem;
      max-width: 25.7rem;
   }
   .left__column-name {

      font-size: 1.4rem;
  
   }
   .left__column-adress {

      font-size: 1.1rem;

   }
   .left__column-tel {

      font-size: 1.1rem;
  
   }
   .footer__central-column {
      display: flex;
      justify-content: space-between;
      width: 27.6rem;
   }
   .central__column-column {

      row-gap: 1.2rem;
      a{

         font-size: 1.4rem;
  
      }
   }
   .footer__right-column {
      row-gap: 0.5rem;

   }
   .right__column-card {
 
     
         span{
            font-size: 1.4rem;
         }
        
      
      
    
   }

}
@media(max-width:768px){

   .footer__container {
      max-width: 120rem;
      padding:2.7rem 1.5rem;
   }
   .footer__left-column {
      row-gap: 1rem;
      max-width: 18.7rem;
   }
   .left__column-name {

      font-size: 1.3rem;
  
   }
   .left__column-adress {

      font-size: 1.1rem;

   }
   .left__column-tel {

      font-size: 1.1rem;
  
   }
   .footer__central-column {
      width: 17.6rem;
   }
   .central__column-column {

      row-gap: 1.2rem;
      a{

         font-size: 1.3rem;
  
      }
   }
   .footer__right-column {
      row-gap: 0.5rem;

   }
   .right__column-card {
 
     
         span{
            font-size: 1.3rem;
         }
        
      
      
    
   }

}
@media(max-width:576px){

   .footer__container {
      max-width: 120rem;
      padding:2.7rem 1.5rem;
   }
   .footer__left-column {
      display: none;
   }
  
   .footer__central-column {
      width: 50%;
   }
   .central__column-column {

      row-gap: 1.2rem;
      a{

         font-size: 1.3rem;
  
      }
   }
   .footer__right-column {
      row-gap: 0.5rem;

   }
   .right__column-card {
 
     
         span{
            font-size: 1.3rem;
         }
        
      
      
    
   }

}
@media(max-width:400px){

   .footer__container {
      max-width: 120rem;
      padding:2rem 1.5rem;
   }
   .footer__left-column {
      display: none;
   }
  
   .footer__central-column {
      width: 50%;
   }
   .central__column-column {

      row-gap: 1rem;
      a{

         font-size: 1.1rem;
  
      }
   }
   .footer__right-column {
      row-gap: 0.5rem;

   }
   .right__column-card {
 
     
         span{
            font-size: 1.1rem;
         }
        
      
      
    
   }

}